* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    width: fit-content;
    margin: 50px auto;
}

.cell {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
}

.cell:nth-child(-n + 3) {
    border-top: none;
} 

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(3n  - 2) {
    border-left: none;
} 

.cell:nth-child(n + 7) {
    border-bottom: none;
}

.result {
    width: fit-content;
    margin: 0 auto;
}

.restart-div {
    width: fit-content;
    margin: 50px auto;
}

.restart-btn {
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    background-color:cornflowerblue;
}