* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cell-size: ;
}

body {
    background-color:#23283f; 
    color: #b8c1ec;
}

header {
    height: 100px;
    color: #fffffe;
}

header div {
    width: fit-content;
    margin: 30px auto;
    font-size: 22px;
}

.main-content {
    display: flex;
}

.names-dialog {
    width: 400px;
}

.names-dialog form{
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0 20px;
    padding: 3px;
    width: 200px;
    height: 30px;
    outline: none;
    border-radius: 3px;
}

input:focus {
    border-color: yellowgreen;
}

.names-dialog button {
    border: none;
    background-color:#eebbc3;
    width: 100px;
    height: 30px;
    border-radius: 3px;
}

.main-content .player-name {
    font-size: 32px;
    margin: auto; /* center content*/
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0px auto;
    border-radius: 14px;
    background-color: #b8c1ec;
    justify-content: center;
    width: fit-content;
    padding: 10px;
}

.cell {
    border: 1px solid black;
    color: #222525;
    background-color: #b8c1ec;
    font-size: 36px;
    --cell-size: clamp(40px, 20vw, 100px);
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid rgba(0, 0, 0, 0.61);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover{
    background-color: #9eaae5;
}

.cell:nth-child(-n + 3) {
    border-top: none;
} 

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(3n  - 2) {
    border-left: none;
} 

.cell:nth-child(n + 7) {
    border-bottom: none;
}

.result {
    width: fit-content;
    margin: 40px auto;
    height: 30px;
}

.btn-div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 50px auto;
}

.change-name-btn,
.restart-btn {
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    background-color:#eebbc3;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 5px;
    color: white;
    text-align: center;
}